## OS-specific files.
.DS_Store

# ignore default
example.gitignore

## IDE and language files.

# JetBrains
.idea/

# netbeans
nbproject/
nbbuild/
nbdist/
.nb-gradle/

# pinegrow
_pgbackup/
pinegrow.json

## ignore packager folders
node_modules/
npm-debug.log
/vendor/

## Temporary Folders
tmp/
.sass-cache/

## Log files
*.logs


### Vagrant
.vagrant/


### Versioning
.svn/
